main {    background-color: lightgray;
    display: flex;
}

/* 
    red and blue boxes 

    960 = (lm + lb + lp + content + rp + rb + rm) + (lm + lb + lp + content + rp + rb + rm)
    960 = (10 + 0 + 0 + content + 0 + 0 + 0) + (10 + 0 + 0 + content + 0 + 0 + 0) + 10
    960 = 30 + (2 x content)
    960 - 30 = 2 x content
    930 = 2 x content
    930/2 = content
    465 = content

    960/2 = lm + lb + lp + content + rp + rb + rm
    960/2 = 10 + 0 + 0 + content + 0 + 0 + 5
    480 - 15 = content
    465 = content

    black box

    960 = lm + lb + lp + content + rp + rb + rm
    960 = 10 + 0 + 0 + content + 0 + 0 + 10
    960 - 20 = content
    940 = content
*/

main > div {
    height: 200px;
    width: 465px;
    margin: 10px 0 10px 10px;
}


.red-paint {
    background-color: red;
}

.blue-paint {
    background-color: blue;
}

.black-paint {
    background-color: black;
    width: 940px;
    height: 50px;
    margin: 0px 10px 10px 10px;
}

.yellow-border {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid yellow;
    flex-basis: content;
}

footer {
    background-color: lightgray;
    height: 60px;
    display: flex;
}

body {
    background: rgba(0, 0, 0, 0.01);
    font-family: Verdana, sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.5;
}


/*CLEAR FIX SOLLUTION*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/* 
    demo css styling

    layout

    criteria:
    margin 10px between outer edges and boxes (red and blue)
    margin 10px between the boxes (red and blue)
    foot 10px margin